.full-doc {
  display: flex;
  flex-direction: column;
  padding-left: 15%;
  padding-right: 15%;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
}

.full-title {
  text-align: center;
  position: absolute;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  font-size: 130px;
  padding-top: 15%;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: darkgray;
}

.politicalparty {
  text-align: center;
  font-size: 18px;
  padding: 10px 40px;
  border-color: black;
  background-color: deepskyblue;
  box-shadow: 5px 10px #888888;
}

.politicalparty:hover {
  background-color: lightskyblue;
}

.news {
  font-size: 20px;
}

.questionaire {
  font-size: 20px;
}

.hide {
  display: none;
}

.hide1 {
  display: none;
  margin-left: 15%;
}

.question {
  font-weight: bold;
  display: flex;
  align-self: stretch;
  width: 100%;
  padding: 20px;
  box-shadow: 5px 10px #888888;
  font-size: 18px;
  margin-left: 5%;
  padding: 10px 40px;
}

.question1 {
  font-weight: bold;
  margin-left: 10%;
  display: flex;
  align-self: stretch;
  width: 100%;
  padding: 20px;
  box-shadow: 5px 10px #888888;
  font-size: 18px;
}

.hide1 {
  display: none;
  margin-left: 10%;
}

.icchide {
  display: none;
  margin-left: 10%;
}

.iccquestions {
  font-weight: bold;
  display: flex;
  text-align: left;
  width: 100%;
  padding: 20px;
  box-shadow: 5px 10px #888888;
  font-size: 18px;
  padding: 10p;
}

.iccprobe {
  font-size: 20px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

span {
  display: flex;
  flex-direction: row;
  float: left;
  font-size: 16px;
  background-color: #111;
  width: 67%;
  color: #f1f1f1;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  position: fixed;
}
